doctype html
html
    head
        title Template Engine | PUG
    body
        h2 Dcode PUG.!
        p. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, at.
            and we having lots of fun

        ul
            li Lorem, ipsum.
            li Lorem, ipsum dolor.
            li Lorem ipsum dolor sit amet.
            li Lorem ipsum dolor sit amet.
