html
    head
        title Includes in pug
    body
        include ./includes/nav
        h2 Some Tag
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, reprehenderit?
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, eligendi!
        .main-list 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, maxime!

        include ./includes/footer
