html
    head
        title Template Engine | PUG
    body
        h2#page-title Page Title of the Page
        p.list.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, repellat!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, debitis?

        p.list.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nobis sequi error voluptas fuga voluptates iste unde tempore aliquid doloremque?

        .mid-banner.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quas.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, sit.
            
        #page-banner. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, a numquam 
            vitae odit asperiores impedit exercitationem ratione aut non est!