extends layout.pug

block script

block page-banner
    div
        h2 Main Page.!
    div
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, magnam!
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, eum!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, deleniti?

block main-page
    p. 
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure quaerat ipsum ducimus 
        in placeat asperiores, vel repellat harum vitae omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, iure?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores mollitia, corporis consectetur cumque quae veritatis qui animi dolorem cum error perferendis neque dignissimos maiores quidem atque necessitatibus ex porro magni.


