html
    head
        title extends and block
    block script
        script(src="./index.js", type="text/javascript")

    body
        block page-banner

        block main-page

        block footer
            footer
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, doloribus!
                ul
                    li Lorem, ipsum.
                    li Lorem, ipsum. lorem
                    li Lorem, ipsum dolor.

